# URL do banco de dados (usado localmente e para migrações fora do docker se necessário)
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5435/mailller?schema=public"

# URL do cache do Redis
REDIS_URL="redis://localhost:6379"

# Chave de criptografia AES-256 e Sessão (deve ter 32 caracteres ou mais)
AES_SECRET="my-super-secret-aes-key-32-chars-long!"
